extends layout

block content

  #table-wrapper
    table#desc
      tr
        th Time of Service
      tr
        td(height='100px') Additional cheduled projects and service
      tr
        td Unscheduled Response – After Hours Monday – Friday, 6:00pm – 7:30am Saturday, Sunday
    table
      tr
        th Rates
      tr
        td Tier 1: $110 / hour
      tr
        td Tier 2: $150 / hour
      tr